<form action="/api/worktypes" method="POST" id="add_worktype">
    <div class="new_transaction">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Name" value="" placeholder="Clean">
        </div>
        <div class="form-group">
            <label for="Pay">Pay</label>
            <input type="text" name="Pay" value="" placeholder="100">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>